<html><head><title>Authorization Received</title></head>
<body>
    <h1>Authorization Received</h1>
    <p>Thank you!</p><p>This add-on has received your authorization to write files to your Google Drive.</p>
    <p></p>
    <h1>Backup Instructions</h1>
    <p>The backup of your hass.io snapshots is performed by executing a REST service hosted by
        this add-on at the host port configured in the details for this add-on. There are no 
        arguments needed to passed to the service request. Everything needed is configured in 
        the add-on configs. The address for this service is in the form: https://hassio.local:[HOST_PORT]/gb/doBackup 
        where [HOST_PORT] is the host port number you configured for this add-on (the same port number this
        page is served from).</p>
    <p>Example: https://hassio.local:8055/gb/doBackup</p>
</body>
</html>